@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Open+Sans&display=swap');

:root{
    --primary-color: #0099B8;
    --secondary-color: #13293D;
    --accent1-color: #ef451a;
    --accent2-color: #E8F1F2;

    --heading-font: 'Open Sans', sans-serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #8c6969;
    --nav-link-color: #3A4E48;
    --nav-hover-link-color: #6A7B76;
    --nav-hover-background-color: #8B9D83;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color)
}


p{
    padding: 25px;
}

nav {
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}

.hero{
    position: relative;
}

.centered {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translate (-50%, -50%);
    background: rgba(122, 241, 136, 0.5)
}

.left {
    position: absolute;
    display: flex;
    top: 20%;
    left: 8px;
    background: rgba(204, 204, 204, 0.5);
    color: black;
    text-align: center;
}
.left img{
    position: relative;
    height: auto;
    width: 100px;
}
.grid {
    display: grid;
    align-items: center;
    justify-content: space-between;
}

.five{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}